body{
    margin: 0px;
}
.navigation,
.footer,
.menu-item{
  background-color: #040431;

}
.navigation {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
  }
  
  .company-logo {
    width: 170px;
    margin-right: 5px;
  }
  
  .logo {
    width: 100%;
  }
  
  .nav-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-item {
    list-style: none;
    margin: 10px 20px;  
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
  }
  
  .btn {
    padding: 8px 20px;
    font-weight: 700;
    background-color: #056bdf;
    border-radius: 15px;
    color: white;
  }
  
  .btn:hover {
    background-color: #df0572e3;
  }
  
  /* hamburger menu */
  .menu{
    display: none;
    width:30px;
    height: 30px;
  }
  .menu img{
    width: 100%;
  }
  .menu-item{
    width: 80%;
    height: 12vh;
    display: none;
  }

  .menu-nav-links{
    display : block;
    text-align: center;
  }

  

.blog {
    display : flex;
    flex-direction : row;
    background-image:linear-gradient(#df0572,#38edf3);
}
.blog-content{
    width: 70%;
    margin: 3%;
    padding: 0px 20px;
    text-align: justify;
    background-color: white;
}
.blog-content img{
    width:100%;
    border-radius: 10px;  
    box-shadow: 2px 2px 2px 2px #040431bd;  
}
.related-links{
    margin-top: 3%;
    width: 30%;
    color: white;
    padding-right: 20px;

}
.related-links h1{
  border-bottom:2px solid;
}
.link-list{
    list-style-type: none;
    padding: 0px;
}
.link-list li{
    padding:5px 5px;
}

.footer {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;

  }
  
  .footerlink-header{
    margin-bottom: 5px;
  
  }
  .footer-link{
    display: inline-block;
    padding-right:10px;
    font-size: 16px;
    padding-top:10px;
    color: white;

  }

  @media (max-width: 768px) {
    .nav-container {
      display: none;
    }
    .menu{
      display: unset;
    }
    .blog{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .blog-content{
      width: 80%;
      margin-top: 50px;
    }
    .related-links{
      color: black;
      width: 85%;
    }
    
  }